<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/add-user">Add user</a>
    </div>

    <h1 id="titleTable">Users List</h1>

    <table id="customers">
        <tr>
            <th>ID</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        <% rows.forEach(function(row) { %>
            <tr>
                <td>
                    <%= row.UserID%>
                </td>
                <td>
                    <%= row.FullName%>
                </td>
                <td>
                    <%= row.Email%>
                </td>
                <td>
                    <%= row.City%>
                </td>
                <td>
                    <form action="/edit-user/<%= row.UserID%>" method="get">
                        <button>Edit</button>
                    </form>
                    <form action="/delete-user/<%= row.UserID%>" method="get">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% }); %>
    </table>
</body>

</html>